:root {
  --font-size: 100px;
  --font-color: rgb(32,32,32);
  --primary-color: darkorange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.saludo {
  font-weight: bolder;
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: sans-serif;
}

